<!DOCTYPE html>
<html ng-app="app" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Compiler Lab. is a professional web and app development company, creating custom, clean and effective websites and applications.">
	<meta name="author" content="">
	<title>Compiler Lab.</title>

	<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">

	<!-- Custom CSS -->
	<!--<link href="less/freelancer.less" rel="stylesheet/less">
	<script src="vendor/less/dist/less.js"></script>-->
	<link href="css/freelancer.css" rel="stylesheet" type="text/css">

	<!-- Custom Fonts -->
	<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
					<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
					<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--Angular Lib Files-->
	<script src="vendor/angular/angular.min.js"></script>
	<!--Angular Modules-->
	<script src="app.js"></script>
	<!--Angular Controllers -->
	<script src="mainCtrl.js"></script>
	<script src="navCtrl.js"></script>
	<!--Angular Directives -->
	<script src="directives/navDirective.js"></script>
</head>

<body ng-controller="mainCtrl" id="page-top" class="index" onload="main()">

	<!-- -------NAVIGATION----- -->
	<compiler-directive></compiler-directive>

	<!---------- HEADER ----- -->
	<header>
		<canvas id="canvas1"></canvas>
		<div class="container">
			<div class="intro-text">
				<span class="name typed">Compiler Lab.</span>
				<span class="skills">Web &amp; App Development</span>
			</div>
		</div>
	</header>

	<!-------- PORTFOLIO GRID SECTION------->
	<section id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Portfolio</h2>
					<hr class="star-primary">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 portfolio-item">
					<a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="img/portfolio/Forecastrsm1.png" class="img-responsive" alt="">
					</a>
				</div>
				<div class="col-sm-6 portfolio-item">
					<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
						<div class="caption">
							<div class="caption-content">
								<i class="fa fa-search-plus fa-3x"></i>
							</div>
						</div>
						<img src="img/portfolio/Booklistxsml.png" class="img-responsive" alt="">
					</a>
				</div>
			</div>
		</div>
	</section>
	<!---------- ABOUT SECTION ----------->
	<!-- Boucing-->
	<section class="success" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>About</h2>
					<hr class="star-light">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 about-description">
					<p>We've got what you need! We are freelancers and we are all about helping small business to improve their profits and marketing by developing website and application solutions.</p>
				</div>
			</div>
		</div>
		<!-- Developers Description -->
		<div class="container cf">
			<div class="animation-element bounce-up cf">
				<div class="subject development">
					<div class="row">
						<div class="col-lg-6">
							<div class="dev-profile">
								<img src="img/developers/maria.jpg" class="img-circle" alt="">
								<h5>Maria Fernanda Xavier</h5>
								<p>Maria Fernanda is a web developer who builds mobile &amp; web applications. With a background in International Business &amp; technology, she’s drawn to solving complex problems. A devout Brazilian, she’s also a tenatious, enthusiatic attitude and fluent in Portuguese.</p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="dev-profile">
								<img src="img/developers/mike.jpg" class="img-circle" alt="">
								<h5>Mike Ward</h5>
								<p>Mike is a full stack developer working in a variety of environments and specializes in creating consumer-centric content management systems.  Based in Louisville, KY, he enjoys geocaching and brewing beer.</p>
							</div>
						</div>
						<div class="col-lg-8 col-lg-offset-2 text-center">
							<a href="#skills-modal" class="skills-modal btn btn-lg btn-outline portfolio-link" data-toggle="modal">
								<i class="fa fa-code"></i> Skills
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!------------SERVICES SECTION--------->
	<section id="services">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>At Your Service</h2>
					<hr class="star-primary">
				</div>
			</div>
		</div>
		<div class="container service-container">
			<div class="row">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-container">
						<i class="fa fa-4x fa-folder-open-o  icon-color"></i>
						<h3>Discover</h3>
						<p class="text-muted">We learn &amp; gather all the info about your business</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-container">
						<i class="fa fa-4x fa-newspaper-o icon-color"></i>
						<h3>Plan</h3>
						<p class="text-muted">We plan all the necessary details!</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-container">
						<i class="fa fa-4x fa-cogs icon-color"></i>
						<h3>Build</h3>
						<p class="text-muted">We build from scratch your envisioned website.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-container">
						<i class="fa fa-4x fa-cloud-upload icon-color"></i>
						<h3>Launch</h3>
						<p class="text-muted">We launch it for you!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<a href="#services-modal" class="btn btn-lg btn-outline-reverse portfolio-link" data-toggle="modal"> Services</a>
			</div>
		</div>
	</section>

	<!---------------- CONTACT SECTION-------->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2>Contact</h2>
					<hr class="star-primary">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<form ng-submit="submitForm()" name="sentMessage" id="contactForm" novalidate>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Name</label>
								<input ng-model="cf.name" name="name" type="text" class="form-control" placeholder="Name" id="name" required>
								<p ng-show="sentMessage.name.$invalid && validation.submitted" class="help-block text-danger">Name is required</p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Email Address</label>
								<input ng-model="cf.email" name="email" type="email" class="form-control" placeholder="Email Address" id="email" required>
								<p ng-show="sentMessage.email.$invalid && validation.submitted" class="help-block text-danger">Valid email is required</p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Phone Number</label>
								<input ng-model="cf.phone" name="phone" type="tel" class="form-control" placeholder="Phone Number" id="phone" required>
								<p ng-show="sentMessage.phone.$invalid && validation.submitted" class="help-block text-danger">Phone number is required</p>
							</div>
						</div>
						<div class="row control-group">
							<div class="form-group col-xs-12 floating-label-form-group controls">
								<label>Message</label>
								<textarea ng-model="cf.formBody" name="formBody" rows="5" class="form-control" placeholder="Message" id="message" required></textarea>
								<p ng-show="sentMessage.formBody.$invalid && validation.submitted" class="help-block text-danger">A message is required</p>
							</div>
						</div>
						<br>
						<div id="success">
							<div class="alert alert-success" ng-show="validation.successMessage"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>Your message has been sent</strong></div>
							<div class="alert alert-danger" ng-show="validation.failureMessage"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>There was an error sending your message.  Please try again later.</strong></div>
						</div>
						<div class="row">
							<div class="form-group col-xs-12">
								<button type="submit" class="btn btn-color btn-lg">Send</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<!--------------------- FOOTER--------------- -->
	<footer class="text-center">
		<div class="footer-above">
			<div class="container">
				<div class="row">
					<div class="footer-col col-md-4 col-md-offset-4">
						<h3>Around the Web</h3>
						<ul class="list-inline">
							<li>
								<a href="https://www.facebook.com/Compiler-Lab-LLC-1156374904433560/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
							</li>
							<li>
								<a href="https://www.instagram.com/compilerlab/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
							</li>
							<li>
								<a href="https://twitter.com/CompilerLabInc" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
							</li>
							<!--<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
							</li>
							<li>
								<a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
							</li>-->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-below">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						Copyright &copy; Compiler Lab. 2016
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- ---------- SCROLL TO TOP BUTTON (Small Glass)---------- -->
	<div class="scroll-top page-scroll visible-xs visible-sm">
		<a class="btn scroll-btn-color " href="#page-top">
			<i class="fa fa-chevron-up"></i>
		</a>
	</div>

	<!---------------- PORTFOLIO MODALS ---------------------->
	<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Project Forecastr</h2>
							<hr class="star-primary">
							<img src="img/portfolio/Forecastrlg.PNG" class="img-responsive img-centered" alt="">
							<p><a href="http://forecastr-beta.herokuapp.com/" target="_blank">Forecastr-Beta</a> is a responsive weather app developed using <a href="http://forecast.io/" target="_blank">Forecast.io</a> and <a href="https://developers.google.com/maps/documentation/geocoding/intro" target="_blank">Google's geocoding</a> APIs. The site provides a clean interface meant to provide a weather forecast without clutter. </p>
							<ul class="list-inline item-details">
								<li>
									Date:
									<strong>
										<a href="#">April 2014</a>
									</strong>
								</li>
								<li>
									Service:
									<strong>
										<a href="index.html#services">Compiler Pro</a>
									</strong>
								</li>
							</ul>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Project BookListx</h2>
							<hr class="star-primary">
							<img src="img/portfolio/Booklistxlg.PNG" class="img-responsive img-centered" alt="">
							<p>BookListx allows members to track books that they have read and manage a wishlist. Try it out - <a href="http://booklistx.apphb.com/" target="_blank">BookListx</a>.</p>
							<ul class="list-inline item-details">
								<li>
									Date:
									<strong>
										<a href="#">March 2016</a>
									</strong>
								</li>
								<li>
									Service:
									<strong>
										<a href="index.html#services">Compiler Pro</a>
									</strong>
								</li>
							</ul>
							<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-------Skills Modals-->
	<div class="portfolio-modal modal fade" id="skills-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">
						<div class="modal-body">
							<h2>Skills</h2>
							<hr class="star-primary">
							<div class="row">
								<div class="col-lg-6">
									<div class="dev-profile">
										<img src="img/developers/maria.jpg" class="img-circle" alt="">
									</div>
									<div class="skillbar " data-percent="90%">
										<p>HTML <span class="skill-bar-percent">90%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="90%">
										<p>CSS3 <span class="skill-bar-percent">90%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="80%">
										<p>Bootstrap <span class="skill-bar-percent">80%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="40%">
										<p>Less <span class="skill-bar-percent">40%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="70%">
										<p>JQuery <span class="skill-bar-percent">70%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="70%">
										<p>JQuery <span class="skill-bar-percent">70%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="20%">
										<p>Angular <span class="skill-bar-percent">20%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="50%">
										<p>Asp.Net MVC <span class="skill-bar-percent">50%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="30%">
										<p>Microsoft SQL Server <span class="skill-bar-percent">30%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="20%">
										<p>Sitecore <span class="skill-bar-percent">20%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar "></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="40%">
										<p>App Harbor/Heroku/Azure <span class="skill-bar-percent">40%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar "></div>
									</div> <!-- End Skill Bar -->
								</div>

								<div class="col-lg-6">
									<div class="dev-profile">
										<img src="img/developers/mike.jpg" class="img-circle" alt="">
									</div>
									<div class="skillbar " data-percent="90%">
										<p>HTML <span class="skill-bar-percent">90%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="90%">
										<p>CSS3 <span class="skill-bar-percent">90%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="80%">
										<p>Bootstrap <span class="skill-bar-percent">80%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="40%">
										<p>Less <span class="skill-bar-percent">40%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="70%">
										<p>JQuery <span class="skill-bar-percent">70%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="70%">
										<p>JQuery <span class="skill-bar-percent">70%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="20%">
										<p>Angular <span class="skill-bar-percent">20%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="50%">
										<p>Asp.Net MVC <span class="skill-bar-percent">50%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="30%">
										<p>Microsoft SQL Server <span class="skill-bar-percent">30%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar"></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="20%">
										<p>Sitecore <span class="skill-bar-percent">20%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar "></div>
									</div> <!-- End Skill Bar -->

									<div class="skillbar " data-percent="40%">
										<p>App Harbor/Heroku/Azure <span class="skill-bar-percent">40%</span> </p>
										<div class="skillbar-background"></div>
										<div class="skillbar-bar "></div>
									</div> <!-- End Skill Bar -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></div>
		</div>
	</div>

	<!-------Services Modals-->
	<div class="portfolio-modal modal fade" id="services-modal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-content">
			<div class="close-modal" data-dismiss="modal">
				<div class="lr">
					<div class="rl">
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="modal-body">
							<h2>Services</h2>
							<hr class="star-primary">
							<div class="row">
								<div class="col-lg-12 ">
									<div class="row">
										<div class="col-lg-4">
											<button id="showr" class="btn btn-color btn-lg ">Compiler Pro Plus</button>
											<div class="container-animation">
												<div class="service-options">
													<i class="fa fa-2x  fa-file-image-o icon-color"></i>
													<p>Design</p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x  fa-cogs icon-color"></i>
													<p>Build - WordPress</p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x fa-cloud-upload icon-color"></i>
													<p>Launch</p>
												</div>
												<i class="fa fa-1x fa-times icon-color" id="hidr"></i>
											</div>
										</div>

										<div class="col-lg-4">
											<button id="showr-two" class="btn btn-color btn-lg">Compiler Pro </button>
											<div class="container-animation-two">

												<div class="service-options">
													<i class="fa fa-2x  fa-file-image-o icon-color"></i>
													<p>Design</p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x  fa-cogs icon-color"></i>
													<p>Build - No WordPress</p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x fa-cloud-upload icon-color"></i>
													<p>Launch</p>
												</div>
												<i class="fa fa-1x fa-times icon-color" id="hidr-two"></i>
											</div>
										</div>

										<div class="col-lg-4">
											<button id="showr-three" class="btn btn-color btn-lg">Compiler Semi-Pro </button>
											<div class="container-animation-three">

												<div class="service-options">
													<i class="fa fa-2x fa-ban icon-color"></i>
													<p> No Design </p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x  fa-cogs icon-color"></i>
													<p>Build - No WordPress</p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-3x fa-cloud-upload icon-color"></i>
													<p>Launch</p>
												</div>
												<i class="fa fa-1x fa-times icon-color" id="hidr-three"></i>
											</div>
										</div>
									</div>

									<div class="row">

										<div class="col-lg-4 col-lg-offset-2">
											<button id="showr-four" class="btn btn-color btn-lg">Compiler UX </button>
											<div class="container-animation-four">

												<div class="service-options">
													<i class="fa fa-2x  fa-file-image-o icon-color"></i>
													<p>Design</p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x  fa-ban icon-color"></i>
													<p> No Build </p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x fa-ban icon-color"></i>
													<p> No Launch </p>
												</div>
												<i class="fa fa-1x fa-times icon-color" id="hidr-four"></i>
											</div>
										</div>

										<div class="col-lg-4">
											<button id="showr-five" class="btn btn-color btn-lg">Compiler Cloud </button>
											<div class="container-animation-five">

												<div class="service-options">
													<i class="fa fa-2x  fa-ban icon-color"></i>
													<p> No Design </p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x  fa-ban icon-color"></i>
													<p> No Build </p>
												</div>

												<div class="arrow">
													<i class="fa fa-2x fa-long-arrow-right icon-color"></i>
												</div>

												<div class="service-options">
													<i class="fa fa-2x fa-cloud-upload icon-color"></i>
													<p>Launch</p>
												</div>
												<i class="fa fa-1x fa-times icon-color" id="hidr-five"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="close-btn-services"><button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button></div>
			</div>
		</div>

		<!---------------SCRIPTS GO HERE-------------->
		<!-- jQuery -->
		<script src="vendor/jquery/dist/jquery.js"></script>

		<!-- Bootstrap Core  -->
		<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>

		<script>
			jQuery('.skills-modal').on("click", function () {
				jQuery('.skillbar').each(function () {
					jQuery(this).find('.skillbar-bar').animate({
						width: jQuery(this).attr('data-percent')
					}, 6000);
				})
			});
		</script>
		<!-- Plugin JavaScript -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

		<!-- Contact Form JavaScript -->
		<script src="js/jqBootstrapValidation.js"></script>
		<script src="js/contact_me.js"></script>

		<!-- Custom Theme JavaScript -->
		<script src="js/freelancer.js"></script>
</body>
</html>